<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<body>
<section class="card" th:fragment="content">
    <div class="h1">Register</div>
    <form th:action="@{/register}" method="post" th:object="${req}">
        <div class="row">
            <div class="field" style="flex:1"><label>Email</label><input class="input" th:field="*{email}" placeholder="you@example.com"/></div>
            <div class="field"><label>Display Name</label><input class="input" th:field="*{username}" placeholder="Your name"/></div>
            <div class="field"><label>Password</label><input type="password" class="input" th:field="*{password}"/></div>
        </div>
        <div class="actions"><button class="btn">Create account</button></div>
        <div class="kv" th:if="${error}" th:text="${error}" style="color:#b91c1c"></div>
    </form>
</section>
</body>
</html>
